.modal{
  height: 400px;
  width: 500px;
  border-radius: 10px;
&__title{
  text-align: center;
}
  &__data{
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
  }
  &__column{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
  }
}
